.snackbar * {
	margin: 0;
}
.snackbar {
	box-sizing: border-box;
	background-color: #323232;
	padding: 18px 24px;
	min-width: 288px;
	max-width: 568px;
	position: fixed;
	bottom: -24px;
	left: 12px;
	opacity: 0;
	transition: opacity .25s ease-in-out;
}

.snackbar .snackbar-con {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.snackbar .snackbar-message {
	color: #fff;
	width: 100%;
}

.snackbar .snackbar-close-btn {
	color: #ffeb3b;
	padding-left: 12px;
}

.snackbar .snackbar-close-btn:hover {
	cursor: pointer;
	color: #fff284;
}
