.board.wrap {
	margin-top: 1.6rem;
	margin-bottom: 3.2rem;
	.row {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.col {
		display: flex;
		flex-direction: column;
		flex: 1;
		&.two {
			flex: 2
		}
		&.three {
			flex: 3
		}
		&.center {
			align-items: center;
		}
	}
	.upperpart {
		background-color: #f3f3f3;
		border-top: 1px solid #acacac;
		border-bottom: .5px solid #dfdfdf;
		height: 3.6rem;
			font-weight: 700;
	}
	.list {
		.item {
			border-bottom: .5px solid #dfdfdf;
			height: 4.2rem;
		}
	}
	.crud {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		.ql-toolbar {
			width: 100%;
		}
		.title {
			margin-bottom: 1.6rem;
			border: 1px solid #ccc;
		}
		#editor {
			width: 100%;
			min-height: 48rem;
			margin-bottom: 1.6rem;
		}
		.warning {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: rgba(52,152,219,.1);
			border: 1px solid rgba(52,152,219,.2);
			height: 5rem;
			color: #3498db;
			margin-bottom: 2.4rem;
			p {
				margin: 0;
			}
		}
	}
	.util {
		padding-top: 4rem;
		.btn-con {
			display: flex;
			justify-content: flex-end;
		}
		.pagination-con {
			width: 200px;
			justify-content: space-around;
			margin-top: 2rem;
			margin-left: auto;
			margin-right: auto;
			.btn-pagination {
				margin-right: 10px;
				color: #b30027;
				&.active, &.arrow {
					border: 1px solid rgba(0,0,0,.1);
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
		.searchbar-con {
			margin-top: 2rem;
			justify-content: center;
			input {
				width: 160px;
			}
			button {
				height: 35px;
			}
		}
	}
}
