.header-con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
	margin-bottom: 30px;
	background-image: url('http://cfile8.uf.tistory.com/image/21244A3B56CACE2E05AE99');
	padding: 15px;
}


.header-con h2 {
	text-align: center;
	margin: 0;
	color: #fff;
	font-weight: 600;
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}

.bible-con {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgba(180, 180, 180, .1);
	box-shadow: 1px 2px 0px rgba(40, 40, 40, .1);
}

.bible-con p {
	font-size: 2rem;
	font-weight: 900;
}

.bible-con p:nth-child(2) {
	text-align: right;
}

.power-icon-con {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.power-icon {
	display: flex;
	flex-direction: column;
	margin: 50px 25px;
}

.power-icon img {
	width: 100px;
	height: 100px;
}

.power-icon p {
	margin-top: 10px;
	text-align: center;
}

.verbiage-con {
	background-color: rgba(180, 180, 180, .1);
	box-shadow: 1px 2px 0px rgba(40, 40, 40, .1);
	padding: 25px 40px;
}

.verbiage {
	margin-bottom: 50px;
}

.verbiage h3 {
	margin: 0;
	font-weight: 700;
}

.verbiage hr {
	margin: 10px 0;
	margin-bottom: 15px;
	border-color: #000;
}
